<ui-navbar>
  <ui-navbar-title>
    DANIEL INTRILIGATOR
  </ui-navbar-title>

  <ui-navbar-item
    [icon]="'home'"
    [active]="isActiveRoute('')"
    (navItemClicked)="onItemClicked('home')"
  >
    Home
  </ui-navbar-item>

  <ui-navbar-item
    [icon]="'certificate'"
    [active]="isActiveRoute('work')"
    (navItemClicked)="onItemClicked('work')"
  >
    Work
  </ui-navbar-item>

  <ui-navbar-item
    [icon]="'envelope'"
    [active]="isActiveRoute('contact')"
    (navItemClicked)="onItemClicked('contact')"
  >
    Contact
  </ui-navbar-item>
</ui-navbar>