<ui-site-wrapper
  [smallSize]="true"
>
  <ui-card>
    <ui-card-title>
      <h1>
        <span class="fa fa-user"></span>
        ABOUT ME
      </h1>
    </ui-card-title>

    <div class="flex">
      <ui-card-image
        [source]="'/assets/profile.jpeg'"
      ></ui-card-image>

      <span>
        <p>
            I am a <b>software engineer</b> with an eye for <b>clean UI</b> and <b>maintainable code</b>. I have a strong knowledge of <b>Javascript</b> and the latest <b>JavaScript</b> frameworks such as <b>Angular</b> and <b>React.</b> I also have an extensive understanding of <b>HTML5</b> and <b>CSS3.</b> 
        </p>

        <p>
          When working with a team, <b>communication</b> and <b>approachability</b> are the most important skills to have and I pride myself in being the go to person for help when needed. 
        </p>

        <p>
          Please take a moment to go through the showcase to see some of my work and feel free to find me on LinkedIn, GitHub and GitLab.
        </p>
      </span>
    </div>

    <ui-button-area>
      <ui-button
        [icon]="'linkedin'"
        [socialColor]="'linkedin'"
        (buttonClick)="onExternalNavigation('https://www.linkedin.com/in/daniel-intriligator-09b01a78/')"
      ></ui-button>

      <ui-button
        [icon]="'github'"
        [socialColor]="'github'"
        (buttonClick)="onExternalNavigation('https://github.com/DIntriligator')"
      ></ui-button>

      <ui-button
      [icon]="'gitlab'"
      [socialColor]="'gitlab'"
      (buttonClick)="onExternalNavigation('https://gitlab.com/DIntriligator')"
    ></ui-button>
    </ui-button-area>
  </ui-card>
</ui-site-wrapper>